$color-header-uno:#3b3544;
$color-header-dos:#495065;
$color-bg:#c6c0d0;
$color-bg-dos:#ebe8f0;
$color-bgtres:#d8d5d5;
$color-nav:#363636;
$color-nav-uno:#282828;
$color-bordes:#5f2222;
$color-h1:#3d3a3a;
$colorcateg:#8e2525;
