.grid-container
{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    gap: 0;
    .header
    {
        background-color: $color-nav-uno;
        grid-area: header;
        
        display: flex;
        flex-direction:column;
        // justify-content:center;
        // flex-wrap: wrap;
        align-items: center;
        width: 100%;
        .logo
        {   
            margin: 10px;
            width: 100%;           
            max-width: 500px;   
            height: auto;       
        }
        .nadvar
        { 
            display: flex;
            flex-direction: row;
            justify-content:flex-end;
            padding: 30px 50px 20px 20px;
            color: $color-bg-dos;
            width:100%;
            background-color: $color-nav;
            gap:2rem;
            .form //Contiene los input para el nombre del usuario y el pass 
            {
                display: flex;
                gap: 20px;
                align-items: center;
                border-color: $color-bg-dos;
                border-style:  solid ;
                border-radius: 10px;
                padding: 5px 20px 5px 20px ;
                .button
                {
                    padding: 5px 30px 5px 30px;
                    // margin-bottom: 8px;
                    border-radius: 5px;
                }
            }
            .style-vinculo
            {
                text-decoration: none;
                color:inherit;
                border-color: $color-bg-dos;
                border-style:  solid ;
                border-radius: 10px;
                padding: 5px 20px 5px 20px ;
            }
        }
    }
    .main
    {
        grid-area: main;
        background-color:$color-bg-dos;

        display: grid;
        grid-template-areas: 
        "image"
        "title"
        "indu"
        "calz"
        "acce";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto auto;
        width: 100%;
        gap: 30px;
        .image-principal
        {
            grid-area: image;
            width: 100%;
            height: auto;
            display: flex;
        }
        .title
        {
            
            grid-area: title;
            
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            font-family: sans-serif;
            font-size: 3rem;
            font-weight: bold;
            color: $color-h1;
            padding: 20px;
            }
        .indumentaria
        {
            grid-area: indu;
            width:auto ;
            height: auto;
            //display: flex;
            //flex-direction: column;
            //flex-wrap: wrap;
            //gap: 10px;
            //Estos comandos no cumplen ninguna funcion
            
            .texto-indu
            {
                display: grid;
                grid-template-areas: 
                "titulo"
                "parrafo";
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr;

                background-color: $color-bgtres;    
                border-radius: 20px;
                padding: 1rem;       
                margin: 0 auto; //centro el contenedor 
                width: 70%;
                height: auto;
                
                h3
                {
                    grid-area: titulo;
                    text-align: center;
                    font-size: 2rem;
                    color:$colorcateg;
                }
                p{
                    grid-area: parrafo;
                    margin: 10px;
                    padding: 10px;
                    text-align: justify;
                    font-size: 20px;
                    
                }
            }
            .vinculos-style
            {
                text-decoration: none;
                color: inherit;
            }
            
        }
        .calzado
        {
            grid-area: calz;
            width:auto ;
            height: auto;

            // display: flex;
            // flex-direction: row;
            // flex-wrap: wrap;
            // gap: 10px;
             //Estos comandos no cumplen ninguna funcion
            
            .texto-calz
            {
                display: grid;
                grid-template-areas: 
                "titulo"
                "parrafo";
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr;

                background-color: $color-bgtres;    
                border-radius: 20px;
                padding: 1rem;       
                margin: 0 auto; //centro el contenedor 
                width: 70%;
                height: auto;
                
                h3
                {
                    grid-area: titulo;
                    text-align: center;
                    font-size: 2rem;
                    color:$colorcateg;
                }
                p{
                    grid-area: parrafo;
                    margin: 10px;
                    padding: 10px;
                    text-align: justify;
                    font-size: 20px;
                    
                }
            }

            .vinculos-style
            {
                text-decoration: none;
                color: inherit;
            }

        }
        .accesorios
        {
            grid-area: acce;
            width:auto ;
            height: auto;

            // display: flex;
            // flex-direction: row;
            // flex-wrap: wrap;
            // gap: 10px;
             //Estos comandos no cumplen ninguna funcion

            .texto-accs
            {
                display: grid;
                grid-template-areas: 
                "titulo"
                "parrafo";
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr;

                background-color: $color-bgtres;    
                border-radius: 20px;
                padding: 1rem;       
                margin: 0 auto; //centro el contenedor 
                width: 70%;
                height: auto;
                
                h3
                {
                    grid-area: titulo;
                    text-align: center;
                    font-size: 2rem;
                    color:$colorcateg;
                }
                p{
                    grid-area: parrafo;
                    margin: 10px;
                    padding: 10px;
                    text-align: justify;
                    font-size: 20px;
                    
                }
            }
            .vinculos-style
            {
                text-decoration: none;
                color: inherit;
            }
        }
    }

    .footer
    {
        grid-area: footer;
        width: 100%;
        //height: 15rem;
        background-color: $color-nav;
        .cont-footer
        {
            display: flex;
            
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: flex-start;
            margin-top: 10px;
            margin-bottom: 30px;  
            
            div
            {
                text-align: center;  
            }
            .p-footer
            {
                font-size: 18px;
                color: $color-bgtres;
                margin-top: 30px;
                text-decoration: none;
                a
                {
                    text-decoration: none;
                    color:$color-bgtres;
                }
            }
            .h4-style
            {
                color: $color-bgtres;
                margin-bottom: 1rem;
                font-size: 25px;
                padding: 5px;
                padding-bottom: 10px;
                border-style: solid;
                border-right: 5px;
                border-left: 5px;
                border-top: 5px;
                border-color: $color-bgtres;
            }
        }
        .logo-contenedor
        {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: flex-start;
            .logo-footer
            {
                
                width: 100%;           
                max-width: 400px;   
                height: auto;   
            }
        }  
    }
}