.grid-container
{
    display: grid;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
    grid-template-columns: repeat(auto-fill,minmax(2,1fr));
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    gap: 20px;
    
}