body
{
    background-color:rgb(202, 205, 205)
}
.fondoheader
{
    background-color: rgb(156, 62, 30);
}
.stilos-nav
{
    background-color:rgb(202, 205, 205);
    
}
.stilos-nav-word
{
    font-family: system-ui;
    margin-left: 20px;
    text-decoration-line:inherit;
    color: inherit;
    
}
.stilos-nav-word-boton
{
    font-size: 16px;
    font-family: system-ui;
    margin-top: 10px;
    padding: 3px 20px 3px 20px;
}
.stilos-nav-word-nuevoperfil
{
    font-family: system-ui;
    margin-bottom: 50px;
    margin-left: 20px;
    text-decoration-line:inherit;
    color: inherit;

}   